.footer {
	background: $primary-color;
	color: $secondary-color;
	font-size: $font-size;
	border-top: 3px solid #006348 !important;

	a {
		color: $secondary-color;
		border: 1px $primary-color solid;
		border-radius: 35px;

		&:hover {
			color: $primary-color;
			background: $secondary-color;
		}
	}

	opacity: .8;
	height: 90px;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}