.navbar {
	background: $primary-color;
	color: $secondary-color;
	font-size: $font-size;
	border-bottom: 3px solid #006348 !important;
	transition: all 0.6s ease-out;

	a {
		color: $secondary-color;

		&:hover {
			color: $primary-color;
		}
	}
	.navbar-brand {
		font-size: $font-size + 5px;
		&:hover {
			color: $secondary-color;	
			text-decoration: underline;		
		}
	}

	.navbar-toggle {
		border-color: $secondary-color;
		.icon-bar {
			background: $secondary-color;
			border-color: $secondary-color;
		}
	}

	.active-tab {
		border-bottom:  2px #00ECA9 solid;
	}
}

.navbar-transluscide {
	opacity: .8;
}