<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <a class="navbar-brand" href="/"> <img class="logo-img" src="{{base}}/lib/custom/img/logo.svg" alt="Logo"> joaomarcuslf</span></a>

    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
    {% unless page.layout == 'front' %}
      <ul class="navigation nav navbar-nav">
      {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url %}
          {% assign current = 'active' %}
        {% endif %}
  
        <li class="{{ current }}">
          <a class="{{ current }}" href="{{base}}{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endunless %}
    </div>
  </div>
</nav>