<section class="home jumbotron">
	<div class="row text-center">
		<object type="image/svg+xml" data="/lib/custom/img/joaomarcuslf-coder.svg" class="profile-image">
			<img src="/lib/custom/img/joaomarcuslf-coder.png" alt="Joaomarcuslf coder">
		</object>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<p class="presentation-paragraph">
				I'm João Marcus Fernandes, Web-Developer.
				Focused on Front-end development and UX/UI Design. 
				Right now studying Analysis and development of systems(Computer Science Branch) on Faeterj-RIO, 
				graduated on Computer Graphics. 
				Linux lover, casual player, hardcore reader, chocoholic and coffeeholic.
			</p>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			<a href="https://github.com/joaomarcuslf/ABOUT-ME" target="_blank">
				See more here...
			</a>
		</div>
	</div>
	<br>
	<div class="row text-center">
		<div class="col-md-3"></div>
		<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Main Knowledge</strong></div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>
							<td>Javascript</td>
						</tr>
						<tr>
							<td>Ruby</td>
						</tr>
						<tr>
							<td>HTML</td>
						</tr>
						<tr>
							<td>CSS</td>
						</tr>
						<tr>
							<td>UX/UI Design</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>
</section>