<span id="home"></span>
<span id="about"></span>

<h1 class="title is-fullwidth has-text-centered">
    Hi, I'm João Marcus Fernandes
</h1>

<figure class="container image is-circle profile-image is-primary is-bold has-text-centered">
    <object type="image/svg+xml" data="/build/img/joaomarcuslf-coffee.svg">
        <img src="/build/img/joaomarcuslf-coffee.png" alt="Joaomarcuslf holding coffee">
    </object>
</figure>

<article class="content about-me">
    <h2 class="title has-text-centered"><strong>About me:</strong></h2>
    <p class="subtitle">
        I'm João Marcus Fernandes, Web-Developer.
        Focused on Front-end development and UX/UI Design.
        Right now studying Analysis and development of systems(Computer Science Branch) on Faeterj-RIO,
        graduated on Computer Graphics.
        Linux lover, casual player, hardcore reader, chocoholic and coffeeholic.
    </p>
</article>

{% include separator.html %}

<div class="has-text-centered">
    <a href="https://github.com/joaomarcuslf/ABOUT-ME" target="_blank">
        <button class="button is-medium is-primary is-bold">
                More about me
        </button>
    </a>
</div>

{% include separator.html %}
