<span id="experience"></span>

<figure class="container image is-circle profile-image is-primary is-bold has-text-centered">
	<object type="image/svg+xml" data="/build/img/joaomarcuslf-coder.svg">
		<img src="/build/img/joaomarcuslf-coder.png" alt="Joaomarcuslf coding">
	</object>
</figure>

<section class="panel container">
	<p class="panel-heading"><strong>Past Experiences:</strong></p>
	<p class="panel-block">
		<strong>Position: </strong>Front-end Developer Internship <br />
		<strong>At: </strong><a href="http://www.mindsatwork.com.br/">Minds At Work</a> <br />
		<strong>Description: </strong>
		<span>
				Minds is an enterprise software developer, the I've worked in different Projects
				from facial recognition to network simulation, we used AngularJS, jQuery, Mocha,
				Chai, Sinon, Istanbul, SCSS, Gulp, Websockets and others technologies.
		</span> <br />
	</p>

	<p class="panel-block">
		<strong>Position: </strong>Front-end Developer and  Agile Member team <br />
		<strong>At: </strong><a href="https://github.com/PICT-Faeterj-RIO">PICT</a> <br />
		<strong>Description: </strong>
		<span>
				PICT is an Technological Research Project focused on creating educational applications
				using new technologies like HTML5, CSS3, Canvas, JS. It uses pure JS, has an very
				deep agile philosophy, using Kanban, Scrum focusing on code quality and UX/UI.
		</span> <br />
	</p>

	<p class="panel-block">
		<strong>Position: </strong>Social Media Internship <br />
		<strong>At: </strong><a href="http://www.faeterj-rio.edu.br/equipe-webcom/">WebCom</a> <br />
		<strong>Description: </strong>
		<span>
				WebCom is an team that mantains the <a href="http://www.faeterj-rio.edu.br/">FAETERJ</a>  Social Medias(Facebook, Wordpress) and
				focus a lot on User interactions using a lot of marketing techniques, and agile preticles.
		</span> <br />
	</p>
</section>