*
{
    box-sizing: border-box;
}

*:before,
*:after
{
    box-sizing: border-box;
}

body
{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.bg-block,
.header
{
    position: relative;

    display: table;

    width: 100%;
    height: 100%;

    background-size: cover;
}

.braces
{
    font-size: 23px;
}

.header
{
    background: url('img/sky_bg.jpeg') no-repeat center center scroll;
}

.logo-img
{
    width: 30px;
    height: 40px;
}
