* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; }

.bg-block, .header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover; }

.braces {
  font-size: 23px; }

.header {
  background: url("img/sky_bg.jpeg") no-repeat center center scroll; }

.navbar .logo-img {
  height: 30px; }
