/*
    Project: joaomarcuslf.github.io
    Author: João Marcus de Lemos Fernandes
    Github: @joaomarcuslf
*/

/*
    Overwrite Bulma's variables
*/

$turquoise: #009688;

/*
    Importing Bulma in the top level of the application
*/

@import '../../node_modules/bulma/bulma';

/*
    Using ITCSS Structure in imports
*/

@import
    'settings/settings',
    'tools/tools',
    'generic/generic',
    'elements/elements',
    'objects/objects',
    'components/components',
    'trumps/trumps';
