<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="braces">{{</span>	@joaomarcuslf <span class="braces">}}</span></a>
		</div>

		{% unless page.layout == 'front' %}
		<ul class="navigation collapse navbar-collapse" id="navbar-collapse">
			{% for link in site.navigation %}
				{% assign current = nil %}
				{% if page.url == link.url %}
					{% assign current = 'active' %}
				{% endif %}

				<li class="{{ current }}">
					<a class="{{ current }}" href="{{base}}{{ link.url }}">{{ link.text }}</a>
				</li>
			{% endfor %}
		</ul>
		{% endunless %}
	</div>
</nav>