<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Front-end developer, knowledge seeker and owner of lot of cats">
    <meta name="abstract" content="My presentation website as Web developer and designer">
    <meta name="keywords" content="Developer, Front-end, joaomarcuslf">
    <meta name="author" content="João Marcus de Lemos Fernandes">
    <meta name="robot" content="all">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="language" content="en">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <link rel="icon" href="/build/img/logo-hex.png" />
    <link rel="stylesheet" href="/build/css/bundle.css" />
    <link rel="image_src" href="/build/ims/joaomarcuslf-profile.jpg" />
</head>

<body>
    <div id="appContainer" class="open">
        <aside class="navigation-section">
            <div class="hero is-primary is-bold">
                <div class="hero-body">
                    <div class="container">
                        <button class="open-btn">
                                <div class="btn-holder"></div>
                            </button>
                    </div>
                    <div class="container hidden-if-not-open">
                        <div class="hero-head">
                            <figure class="image is-circle is-256x256">
                                <img src="/build/img/joaomarcuslf-profile.jpg" alt="My profile photo">
                            </figure>
                        </div>

                        <div class="hero-body has-text-centered hidden-if-not-open">
                            <h2 class="title">João Marcus Fernandes</h2>
                            <h3 class="subtitle">Front-end Developer at <a class="active" href="http://somos.b2wdigital.com/">B2W Digital</a></h3>
                        </div>

                        <div class="hero-foot hidden-if-not-open">
                           <button class="open-nav-btn">
                            <div></div>   
                           </button>
                            <nav class="menu hero navigation">
                                <div class="hero-body">
                                    <div class="container">
                                        <p class="menu-label">
                                            Navigation:
                                        </p>
                                        <ul class="menu-list">
                                            <li class="list-item"><a class="link-item" href="/#home">Home</a></li>
                                            <li class="list-item"><a class="link-item" href="/#about">About</a></li>
                                            <li class="list-item"><a class="link-item" href="/#experience">Experience</a></li>
                                            <li class="list-item"><a class="link-item" href="/#portfolio">Portfolio</a></li>
                                            <li class="list-item"><a class="link-item" href="/categories">Categories</a></li>
                                        </ul>
                                    </div>
                                    <br />
                                    <div class="container social-media">
                                        <div class="columns is-mobile is-gapless social-content">
                                            <div class="column">
                                                <a href="https://medium.com/@joaomarcuslf" class="btn-social button is-outlined is-primary" target="_blank">
                                                    <div class="medium image"></div>
                                                </a>
                                            </div>
                                            <div class="column">
                                                <a href="https://www.facebook.com/joaomarcus.l.fernandes" class="btn-social button is-outlined is-primary" target="_blank">
                                                    <div class="facebook image"></div>
                                                </a>
                                            </div>
                                            <div class="column">
                                                <a href="https://github.com/joaomarcuslf" class="btn-social button is-outlined is-primary" target="_blank">
                                                    <div class="github image"></div>
                                                </a>
                                            </div>
                                            <div class="column">
                                                <a href="https://twitter.com/joaomarcuslf" class="btn-social button is-outlined is-primary" target="_blank">
                                                    <div class="twitter image"></div>
                                                </a>
                                            </div>
                                            <div class="column">
                                                <a href="https://www.linkedin.com/in/jo%C3%A3o-marcus-fernandes-4b8814ba" class="btn-social button is-outlined is-primary"
                                                    target="_blank">
                                                    <div class="linkedin image"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </aside>


        <div class="content-container">
            {{content}}
        </div>
    </div>

    <!-- APP INIT -->
    <script src="/build/js/bundle.js" defer></script>
    <!-- APP END -->
</body>

</html>
