.image {
        img {
                margin: 0 auto;
        }

        &.is-circle {
                img {
                        border-radius: 100%;
                        border: 2px white solid;
                }
        }

        &.is-256x256 {
                img {
                        max-width: 258px;
                        max-height: 258px;
                }
        }

        &.profile-image {
                overflow: hidden;
                * {
                        width: 350px;
        	height: 350px;
                        overflow: hidden !important;
                        background: $turquoise;
                        border-radius: 100%;
                }
        }
}
