<section class="home jumbotron">
	<div class="row text-center">
		<object type="image/svg+xml" data="/lib/custom/img/joaomarcuslf-coffee.svg" class="profile-image">
			<img src="/lib/custom/img/joaomarcuslf-coffee.png" alt="Joaomarcuslf coffee">
		</object>
	</div>
	<div class="row">
		<h2 class="text-center col-md-12">
			Hi, I'm João Marcus Fernandes
		</h2>
		<h3 class="text-center col-md-12">
			-| <span style="font-size: 1.2em">Ultra Coffee Lover</span> |-
		</h3>
	</div>
	<br><br><br>
</section>